<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlgoliaAPIKey</key>
	<string>9b56ce9a896bf6d68c54565ea97bab08</string>
	<key>AlgoliaApplicationID</key>
	<string>4YAZYPDFT4</string>
</dict>
</plist>
